*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

  /** HEADER **/
  #header-nav {
    background-color: rgb(184, 184, 184);
    border-radius: 0;
    border: 0;
  }
  
  .navbar-brand {
    padding-top: 25px;
  }
  .navbar-brand h1 { /*name */
    color: black;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px 1px #222;
    margin-top: auto;
    margin-bottom: auto;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  #nav-list {
    margin-top: 0px;
  }
  #nav-list a {
    color: black;
    text-align: center;
    font-size: 1.5em;
  }
  #nav-list a:hover {
    background: black;
    color: white;
  }
  #nav-list a span {
    font-size: 15px;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  /* END HEADER */

.yaris{
    background-color: #0136c6;
  }

.heavy{
    font-weight: bold;

}

.container{
    color: black;
    background-color: rgb(184, 184, 184);
    margin: 10px;
    
}

.ttl{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.section{
  color: white;
}

.head{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}
.desc-cont {
  margin-top:50px;
  margin-bottom: 100px;
  box-shadow: 0 0 50px black;
  border: 2px solid black;
  border-radius: 25px;
}

.icons{
  border-radius: 25px;
  padding: 15px;
}

#edu-tile, #experience-tile, #contact-tile {
  height: 250px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid black;
  overflow: hidden;
}
#edu-tile:hover, #experience-tile:hover, #contact-tile:hover {
  box-shadow: 0 4px 10px 4px #0136c6;
}

#edu-tile {
  background: url('../Images/Webp.net-resizeimage\ \(10\).png') no-repeat ;
  background-position: center;
}
#experience-tile {
  background: url('../Images/Webp.net-resizeimage\ \(1\).png') no-repeat;
  background-position: center;
}
#contact-tile {
    background: url('../Images/Webp.net-resizeimage\ \(4\).png') no-repeat;
    background-position: center;
  }

#edu-tile span, #experience-tile span, #contact-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.descriprion{
  font-size: 16px;
  font-style: italic;
  text-align: justify;
}

.divider{
  width: 25%;
  height: 3px;
  text-align: center;
  font-weight: bold;
  color: black;
}

.mar{
  margin-bottom: 10px;
}
.mail{
  text-decoration-line: underline;
  text-decoration-color: #fff;
  text-decoration-style: dotted;
}

.social{
  text-decoration-line: underline;
  text-decoration-color: #fff;
  text-decoration-style: solid;
}

.con-form{
  margin-left: auto;
  margin-right: auto;
}

textarea{
  resize: none;
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* name */
    padding-top: 10px;
    font-size: 5vw; 
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  /* End Header */


  #edu-tile, #experience-tile, #contact-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

}


/********** Super extra small devices Only :-) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #edu-tile, #experience-tile, #contact-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
}